<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Student App Example - Student Form</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/group">Add a Group</a>
        <a href="/student" class="active">Add a Student</a>
    </nav>
    
    <h1>Add a Student</h1>

    <form id="student-form">
        <input id="first-input" type="text" placeholder="Enter the students first name">
        <input id="last-input" type="text" placeholder="Enter the students last name">
        <input id="email-input" type="email" placeholder="Enter the students email">
        <button>Submit</button>
    </form>

    <script src="/js/student_browser.js"></script>
</body>
</html>