* {
    font-family: sans-serif;
}

body {
    padding: 5%;
    background-color: #6e6666;
}

body h1 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    padding: 6px 10px;
    color: #333;
    border: 1px solid #333;
}

nav a:not(:last-child) {
    margin-right: 15px;
}

nav a:hover, nav a.active {
    background-color: #333;
    color: #fff;
}